body {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('./img/background.jpg');
    font-size: 20pt;
    font-family: "Gill Sans", sans-serif;
}
h1 {
    text-align: center;
    font-size: 40px;
}

#searchArea {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#searchInput {
    font-size: 30px;
}

#searchButton {
    cursor: pointer;
    font-size: 30px;
}

#pageSwitchArea{
    margin: 0 auto;
    padding-top: 3%;
}

#previousPage{
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    left: 45%;
}

#currentPage{
    position: absolute;
    font-size: 30px;
    left: 48%;
}

#nextPage{
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    right: 45%;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td.product-name {
    width: 40%;
}

.pop-up {
    position: fixed;
    top: 0; 
    left: 0;
    background-color: rgba(1, 1, 1, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.pop-up span{
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 20px;
    color: white;
    font-size: 80px;
    font-weight: bolder;
    z-index: 100;
}

#pop-up-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    background-color: white;
    border: 1px solid black;
}

.history-button {
    cursor: pointer;
}

.copyright {
    font-size: small;
    padding-top: 35%;
}